{% extends "accounts/base.html"  %}

{% block title %}Home | AnonyConfess{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h2>Welcome back  <span style=" color: #00ff88;" > <b> <i> {{ user.username }}</b></i></span> to Anonymous Confession. Ready to Confess your feelings?</h2>
{% else %}
    <h2>Welcome to Anonymous Confession. Please <i> <a href="{% url 'login' %}" style=" color: #00ff88;" >Login</a></i> to Confess. </h2>
{% endif %}

    <h2>Recent Confessions</h2>
{% endblock %}