.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0; top: 0;
  width: 100vw; height: 100vh;
  background: rgba(3, 3, 3, 0.88);
  backdrop-filter: blur(4px);
  overflow-y: auto;
}

/* Modal content panel */
.modal-content {
  background: #111113;
  margin: 0 auto;
  padding: 32px 28px 60px;
  max-width: 800px;
  min-height: 100vh;
  border-left: 1px solid #1e1e20;
  border-right: 1px solid #1e1e20;
  box-sizing: border-box;
}

body{
  text-align: center !important;
  font-family:'Sora',sans-serif;
}

h2{
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
#heading-2{
  margin-top: 15px;
  padding-left: 15px;
  border-left:5px solid #00ff88;
  color: #818384;
  font-size: medium;
}
/* The Close Button - Now floating at the top-right */
#close-sign {
  color: #ff0000;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s;
  /* border: 2px solid #818384; */
  padding: 5px;
  margin-left: 7px;
}

#close-sign:hover {
  color: #818384;
}

.confession-grid {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 20px 20px 0px;
}

.confession-card {
  background: #1a1a1b; /* Reddit Dark-ish color */
  border: 1px solid #343536;
  border-radius: 8px;
  display: flex;
  transition: border 0.2s;
  /* overflow: hidden; */
  text-align: justify;
}

.confession-card:hover {
  border: 1px solid #4d4d4e;
  cursor: pointer;
}

/* Upvote Section */
.card-side {
  background: #151516;

  padding: 0 8px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upvote-btn {
  background: transparent;
  border: none;
  color: #d7dadc;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.1s ease;
}
.upvote-btn:active {
  transform: scale(1.2); /* Small "pop" animation when clicked */
}
.upvote-btn:hover .icon {
  color: #ff4500;
} /* Reddit Orange */

/* Main Content Area */
.card-main {
  flex-grow: 1;
  padding: 17px;
}

.card-meta {
  font-size: 12px;
  color: #818384;
  margin-bottom: 8px;
}

.anon-handle {
  color: #00ff88;
  font-weight: bold;
}

.card-body p {
  color: #9A9A9C;
  font-size: 15px;
  line-height: 21px;
}
.card-title {
  color: #ffffff;
  margin: 8px 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.card-footer {
  margin-top: 12px;
  font-size: 12px;
  font-weight: bold;
  color: #818384;
}
